{:paths ["scripts"]
 :deps {org.babashka/cli {:mvn/version "0.9.68"}
        babashka/fs {:mvn/version "0.5.33"}
        hato/hato {:mvn/version "1.0.0"}
        cheshire/cheshire {:mvn/version "6.2.0"}}
 :tasks
 {text     {:doc "Extract text from a markdown file"
            :task (apply shell "bb" "scripts/extract_text.bb" *command-line-args*)}
  tts      {:doc "Text to speech"
            :task (apply shell "bb" "scripts/text_to_speech.bb" *command-line-args*)}
  srt      {:doc "Audio to SRT"
            :task (apply shell "bb" "scripts/transcribe_audio.bb" *command-line-args*)}
  test     {:doc "Run tests"
            :requires ([test-runner])
            :task (test-runner/run)
            :depends []}
  fmt      {:doc "Format Clojure files with cljfmt"
            :task (shell "clojure -M:fmt fix src test script")}}}
